body,
.highcharts-container {
    font-family: system-ui
}

[x-cloak] {
    display: none !important;
}

.small {
    font-size: 9px;
}

select#categories {
    resize: vertical;
}

table#category-config {
    td:nth-child(-n + 2) {
        width: 50px;
    }
}

.highcharts-data-label text,
text.highcharts-data-label {
    font-size: 14px;
    font-weight: 200;

    .highcharts-strong {
        font-size: 1.3em;
    }
}

#threshold {
    direction: rtl;
}

.highcharts-link {
    cursor: pointer;
}

/* main node color */
.highcharts-color-1 {
    fill: #4b4b4b;
}