body,
.highcharts-container {
    font-family: system-ui
}

[x-cloak] {
    display: none !important;
}

.small {
    font-size: 9px;
}

select#categories {
    resize: vertical;
}

.highcharts-data-label text,
text.highcharts-data-label {
    font-size: 14px;
    font-weight: 200;

    .highcharts-strong {
        font-size: 1.3em;
    }
}

.highcharts-link {
    cursor: pointer;
}
